/* Universal Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #404040;
}

/* Banner Section */
header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
}

header a {
    color: inherit;
    text-decoration: none;
}

.banner-left {
    display: inline-flex;
    align-items: center;
}

.banner-left img {
    height: 64px;
}

.banner-left .colmar {
    font-weight: bold;
}

.banner-left .academy {
    color: #A0A0A0;
}

.banner-left .colmar,
.banner-left .academy {
    font-size: 32px;
}

.banner-right {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    padding-left: 16px;
}

/* Start Here Section */
.start-here {
    background-color: #E0E0E0;
}

.start-here img {
    width: 60%;
    padding: 32px 24px;
}

.start-here h1 {
    font-size: 64px;
}

.start-here h3 {
    font-size: 32px;
}